.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 1rem 5rem;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
}

.navLinks {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20%;
    font-weight: 600;
}

.navLinksItem {
    padding: 0.2rem 0.5rem;
}

.navLinksItem:hover {
    background: transparent;
    border-bottom: 1px solid #000;
    transition: all 0.3s ease;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 4rem;
    min-height: var(--min-height);
    /* background-image: var(--bg-gradient); */
}

.heroText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 50%;
    margin: 0 1rem;
}

.heroText h1 {
    font-size: 3rem;
    font-weight: 700;
    color: #fff;
    margin-bottom: 1rem;
}

.heroText p {
    font-size: 1.2rem;
    font-weight: 400;
    color: rgb(250, 250, 250);
    margin-bottom: 1rem;
}

.heroText button {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--bt-color);
    background-color: var(--bt-bg);
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid transparent;
}

.heroText button:hover {
    background: transparent;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    transition: all 0.3s ease;
}


.heroImage {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 4rem;
    min-height: var(--min-height);
}

.aboutImage {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.aboutText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 50%;
    margin: 0 1rem;
}

.aboutText h1 {
    font-size: 3rem;
    font-weight: 700;
    color: #000;
    margin-bottom: 1rem;
}

.aboutText p {
    font-size: 1.2rem;
    font-weight: 400;
    color: #000;
    margin-bottom: 1rem;
}

.aboutText button {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--bt-color);
    background-color: var(--bt-bg);
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid transparent;
}

.aboutText button:hover {
    background: transparent;
    color: black;
    border: 1px solid black;
    transition: all 0.3s ease;
}

.waves {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.waves .wavesOpacity {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 80px;
}

.contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 4rem;
    min-height: var(--min-height);
    /* background-color: #f4f1f1; */
}

.contactImage {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.contactText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 50%;
    margin: 0 1rem;
}

.contactText h1 {
    font-size: 3rem;
    font-weight: 700;
    color: #000;
    margin-bottom: 1rem;
}

.contactText p {
    font-size: 1.2rem;
    font-weight: 400;
    color: #000;
    margin-bottom: 1rem;
}

.contactText button {
    font-size: 1.2rem;
    font-weight: 400;
    color: #fff;
    background-color: #000;
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid transparent;
}

.contactText button:hover {
    background: transparent;
    color: black;
    border: 1px solid black;
    transition: all 0.3s ease;
}

.footer {
    /* background-color: #1e293b; */
    border-top: 1px solid var(--white);
    color: #64748b;
    width: 100%;
}

.footerInner {
    margin: 0 auto;
    padding: 1rem 0;
}

.footerExFo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 4rem;
    gap: 4rem;
}

.footerDetails {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4px;
}

.footerLogo {
    background-color: #fff;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
}

.footerText {
    font-size: 1.2rem;
    font-weight: 700;
    color: #64748b;
}

.footerSocial {
    display: flex;
    flex-direction: row;
    gap: 4px;
    list-style: none;
}

.footerSocialItem {
    transition: all 0.3s ease;
}

.footerSocialItem:hover {
    transform: scale(1.1);
}

.footerSocialIcon {
    font-size: 2rem;
    color: #64748b;
}

.footerSocialIcon:hover {
    color: red;
}

.footerLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 4rem;
}

.footerLinksInner {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footerLinksTitle {
    font-size: 1.125rem;
    font-weight: 700;
    color: #fff;
}

.footerLinksList {
    display: flex;
    flex-direction: column;
    gap: 2px;
    list-style: none;
}

.footerLinksListItem {
    font-size: 1rem;
    font-weight: 600;
    color: #64748b;
}

.footerLinksListItem:hover {
    color: #fff;
    text-decoration: underline;
}

.footerAddress {
    font-size: 1rem;
    font-weight: 600;
    color: #64748b;
    font-style: normal;
}

.footerAddress:hover {
    color: #fff;
    text-decoration: underline;
}

.footerMade {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    padding: 1rem 0;
}

.footerMade span {
    color: #64748b;
    font-weight: 600;
    display: contents;
}

.footerMadeIcon {
    color: red;
}

.footerMadeLink {
    color: #64748b;
    font-weight: 600;
}

.footerMadeLink:hover {
    color: #fff;
    text-decoration: underline;
}

.hamburger {
    display: none;
}

@media screen and (max-width: 768px) {
    .hamburger {
        display: block;
        position: fixed;
        top: 1rem;
        right: 1rem;
        z-index: 999;
        cursor: pointer;
    }

    .navLinks {
        display: none;

    }

    .navLinksActive {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 100vh;
        background: linear-gradient(180deg, #fb7747 0%, #ff464682 100%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        z-index: 999;
        animation: slideIn 0.5s ease-in-out;
    }

    .navLinksActive a {
        font-size: 1.2rem;
        font-weight: 600;
        color: #ffffff;
        text-decoration: none;
        transition: all 0.3s ease;
    }

    .navLinksActive a:hover {
        color: #000000;
    }

    @keyframes slideIn {
        0% {
            top: -100%;
        }

        100% {
            top: 0;
        }
    }
}

.brand {
    display: flex;
    /* background-color: gray; */
}

.brandInner {
    background: linear-gradient(0deg, #fb7747 0%, #ff464682 100%);
    max-width: 80rem;
    padding: 1rem 4rem;
    margin: auto auto;
    border-radius: 10px;
}

.brandHeading h2 {
    font-size: 2rem;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    margin: 1rem 0;
}

.brandInner .brandContent {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    gap: 2rem;
    max-width: 900px;
}

.brandContent .brandContentCategory .brandContentCategoryList {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.brandContentCategoryList .brandContentCategoryListItem {
    padding: 0.3rem 1rem;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.brandContentCategoryListItem:hover {
    transform: scale(1.05);
}

.brandContentCategoryListItem.active {
    background-color: #fb7747;
    color: #ffffff;
}

.brandContent .brandContentList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.brandContentList .brandContentListItem {
    padding: 1rem;
    background: linear-gradient(180deg, #fb7747 0%, #ff464682 100%);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.brandContentListItemImageBox {
    position: relative;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.brandContentListItemImage {
    border-radius: 10px;
}

.brandContentListItemImageBox .brandContentListItemImageBoxSocial {
    bottom: 0;
    left: 0;
    position: absolute;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1e293b;
    gap: 1rem;
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.brandContentListItemImageBoxSocialItem a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 0.5rem 1rem;
    background-color: #334155;
    border: 1px solid #2563eb;
    color: #ffffff;
    border-radius: 10px;
}

.brandContentList.brandContentListItemContent {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.brandContentListItemContentHeading h3 {
    font-size: 1.2rem;
    font-weight: 700;
    color: #ffffff;
}

.brandContentListItemContentCategory p {
    font-size: 1rem;
    font-weight: normal;
    color: #ffffff;
}

.imgageBox {
    position: relative;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.aboutImg {
    border-radius: 10px;
    position: relative !important;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
}

.animation {
    animation: scroll 0.5s ease-in-out;
}

@keyframes scroll {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.partnersLogoList {
    display: grid;
    width: 100%;
    max-width: 80rem;
    margin-right: auto;
    padding-top: 27px;
    padding-bottom: 27px;
    align-items: center;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
}

@media (max-width: 1200px) {
    .partnersLogoList {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}

@media (max-width: 992px) {
    .partnersLogoList {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}

@media (max-width: 768px) {
    .partnersLogoList {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (max-width: 576px) {
    .partnersLogoList {
        grid-template-columns: 1fr 1fr;
    }
}

.partnersLogoListImg {
    position: relative !important;
    border: 0;
    vertical-align: middle;
    display: inline-block;
    width: 100%;
    height: 100%;
    max-width: 100%;
}

.coreTeam {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    width: 100%;
    gap: 1rem;
}

.imageBox {
    position: relative;
    background-color: #ffffff;
    border-radius: 10px;
}

.teamImg {
    border-radius: 10px;
    filter: grayscale(100%);
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
}


.grayToColor {
    filter: grayscale(0%);
}

.transition {
    transform: scale(1.05);
}