.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 1rem 5rem;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
}

.navLinks {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20%;
    font-weight: 600;
}

.navLinksItem {
    padding: 0.2rem 0.5rem;
}

.navLinksItem:hover{
    background: transparent;
    border-bottom: 1px solid #000;
    transition: all 0.3s ease;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 4rem;
    min-height: 100vh;
    background-image: linear-gradient(to right top, #401f5b, #3c215b, #38225a, #352459, #312558, #2e2658, #2c2758, #292858, #262a59, #242b5a, #212d5a, #1e2e5b);
}

.heroText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 50%;
    margin: 0 1rem;
}

.heroText h1 {
    font-size: 3rem;
    font-weight: 700;
    color: #fff;
    margin-bottom: 1rem;
}

.heroText p {
    font-size: 1.2rem;
    font-weight: 400;
    color: rgb(250, 250, 250);
    margin-bottom: 1rem;
}

.heroText button {
    font-size: 1.2rem;
    font-weight: 400;
    color: #fff;
    background-color: #000;
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid transparent;
}

.heroText button:hover {
    background: transparent;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    transition: all 0.3s ease;
}


.heroImage {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 4rem;
    background-image: linear-gradient(to right top, #401f5b, #3c215b, #38225a, #352459, #312558, #2e2658, #2c2758, #292858, #262a59, #242b5a, #212d5a, #1e2e5b);
    min-height: 100vh;
}

.aboutImage {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.aboutText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 50%;
    margin: 0 1rem;
}

.aboutText h1 {
    font-size: 3rem;
    font-weight: 700;
    color: #fff;
    margin-bottom: 1rem;
}

.aboutText p {
    font-size: 1.2rem;
    font-weight: 400;
    color: #fff;
    margin-bottom: 1rem;
}

.aboutText button {
    font-size: 1.2rem;
    font-weight: 400;
    color: #fff;
    background-color: #000;
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid transparent;
}

.aboutText button:hover {
    background: transparent;
    color: #fff;
    border: 1px solid black;
    transition: all 0.3s ease;
}

.brand {
    background-color: #fff;
    background-image: linear-gradient(to right top, #401f5b, #3c215b, #38225a, #352459, #312558, #2e2658, #2c2758, #292858, #262a59, #242b5a, #212d5a, #1e2e5b);
}

.brandInner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 100vh;
    padding: 0 7%;
}

.brandHeader {
    text-align: center;
    width: 50%;
}

.brandTitle {
    font-size: 3rem;
    color: #fff;
    font-weight: 700;
}

.brandHeaderDesc {
    color: rgb(188, 182, 182);
    margin-top: 1rem;
    font-size: 1.5rem;
}

.brandBox {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.brandBoxItem {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #000;
    border-radius: 1rem;
    padding: 2rem;
    transition: all 0.3s ease;
}

.brandBoxItem:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px) scale(1.05);
}

.brandBoxItemContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

 .brandBoxItemIcon {
    font-size: 6rem;
    color: #000;
 }

 .brandBoxItemTitle {
    font-size: 1.8rem;
    font-weight: 700;
 }

.brandBoxItemDesc {
    color: #000;
}


.waves {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.waves .wavesOpacity {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 80px;
}

.contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 4rem;
    min-height: 100vh;
    background-color: #f4f1f1;
    background-image: linear-gradient(to right top, #401f5b, #3c215b, #38225a, #352459, #312558, #2e2658, #2c2758, #292858, #262a59, #242b5a, #212d5a, #1e2e5b);
}

.contactImage {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.contactText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 50%;
    margin: 0 1rem;
}

.contactText h1 {
    font-size: 3rem;
    font-weight: 700;
    color: #000;
    margin-bottom: 1rem;
}

.contactText p {
    font-size: 1.2rem;
    font-weight: 400;
    color: #000;
    margin-bottom: 1rem;
}

.contactText button {
    font-size: 1.2rem;
    font-weight: 400;
    color: #fff;
    background-color: #000;
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid transparent;
}

.contactText button:hover {
    background: transparent;
    color: black;
    border: 1px solid black;
    transition: all 0.3s ease;
}

.footer {
    background-color: #1e293b;
    color: #64748b;
    width: 100%;
}

.footerInner {
    margin: 0 auto;
    padding: 1rem 0;
}

.footerExFo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 4rem;
    gap: 4rem;
}

.footerDetails {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4px;
}

.footerLogo {
    background-color: #fff;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
}

.footerText {
    font-size: 1.2rem;
    font-weight: 700;
    color: #64748b;
}

.footerSocial {
    display: flex;
    flex-direction: row;
    gap: 4px;
    list-style: none;
}

.footerSocialItem {
    transition: all 0.3s ease;
}

.footerSocialItem:hover {
    transform: scale(1.1);
}

.footerSocialIcon {
    font-size: 2rem;
    color: #64748b;
}

.footerSocialIcon:hover {
    color: red;
}

.footerLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 4rem;
}

.footerLinksInner {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footerLinksTitle {
    font-size: 1.125rem;
    font-weight: 700;
    color: #fff;
}

.footerLinksList {
    display: flex;
    flex-direction: column;
    gap: 2px;
    list-style: none;
}

.footerLinksListItem {
    font-size: 1rem;
    font-weight: 600;
    color: #64748b;
}

.footerLinksListItem:hover {
    color: #fff;
    text-decoration: underline;
}

.footerAddress {
    font-size: 1rem;
    font-weight: 600;
    color: #64748b;
    font-style: normal;
}

.footerAddress:hover {
    color: #fff;
    text-decoration: underline;
}

.footerMade {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    padding: 1rem 0;
}

.footerMade span {
    color: #64748b;
    font-weight: 600;
    display: contents;
}

.footerMadeIcon {
    color: red;
}

.footerMadeLink {
    color: #64748b;
    font-weight: 600;
}

.footerMadeLink:hover {
    color: #fff;
    text-decoration: underline;
}